.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

*,
*::after *::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.header-site__content {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  display: inline-block;
  margin-top: 10px;
}

.logo__img {
  width: 178px;
  height: 37px;
  display: block;
  transition: 0.3s ease;
}

.logo__img:hover {
  transform: scale(1.1);
}

.header-site__nav-and-sign {
  display: flex;
  align-items: center;
}

.header-site__button-in {
  width: 102px;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  border: solid 2px #bcd0e5;
  border-radius: 5px;
  transition: 0.4s ease;
}

.header-site__button-in:hover {
  box-shadow: 0px 0px 10px 0.5px rgb(149, 148, 146);
}

.header-site__sign {
  display: flex;
  align-items: center;
}

.header-site__button-up {
  width: 102px;
  height: 43px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #02897a;
  border: solid 0px;
  border-radius: 5px;
  color: white;
  transition: 0.4s ease;
}

.night {
  margin-left: 20px;
}

.header-site__button-up:hover {
  transform: scale(1.044444444);
}

.header-site__circle-img {
  margin-left: 20px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 980px) {
  .header-site__sign {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.nav {
  display: flex;
  margin-right: 10px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 20px;
}

.nav__item-link {
  text-decoration: none;
  color: #22343d;
  transition: 0.3s ease;
}

.nav__item-link:hover {
  font-weight: 500;
}

@media only screen and (max-width: 980px) {
  .nav {
    display: none;
  }
}
.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__content-child {
  max-width: 458px;
  padding-top: 115px;
}

.hero__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
}

.hero__button {
  background: #02897A;
  border-radius: 4px;
  border: none;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-right: 40px;
  transition: 0.4s ease;
}

.hero__button:hover {
  transform: scale(1.1);
}

.hero__watch {
  display: flex;
  align-items: center;
}

.hero__watch-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897A;
}

.hero__others-img {
  max-width: 600px;
}

@media only screen and (max-width: 1000px) {
  .hero__content {
    display: block;
  }
  .hero__content-child {
    margin-right: auto;
    margin-left: auto;
  }
  .hero__others-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 610px) {
  .hero__others-img {
    max-width: 400px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__watch {
    display: block;
  }
  .hero__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__watch-child {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .hero__watch-text {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 510px) {
  .hero__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    color: #22343D;
  }
  .hero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
  }
  .hero__others-img {
    max-width: 300px;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
:root {
  /** sunny side **/
  --blue-background: white;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #626e74;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue-background);
  z-index: -1;
  width: 100%;
  height: 400%;
  transition: all 550ms ease-in;
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 60px;
  width: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}

.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 60px;
  height: 30px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  transition: all 150ms ease-in;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}

.toggle--label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 50px;
  height: 31px;
  top: 0px;
  left: -10px;
  position: static;
  border-radius: 22px;
  background: var(--yellow-background);
}

.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@-webkit-keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}
@-webkit-keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}
@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}
.product {
  background-image: url("../../img/Bg.png");
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: calc(50% - 80px) 200px;
}

.product__heading {
  max-width: 526px;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}

.product__list {
  display: flex;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.product__item {
  max-width: 250px;
  margin-right: 10px;
  transition: 0.4s ease;
}

.product__item:hover {
  transform: scale(1.1);
}

.product__item-heading {
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
}

.product__item-text {
  margin-top: 20px;
}

.product__button-child {
  background: #02897A;
  border-radius: 4px;
  border: none;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-right: 40px;
  transition: 0.4s ease;
}

.product__button-child:hover {
  transform: scale(1.1);
}

.product__button {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .product__list {
    display: block;
  }
  .product__item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .product__button-child {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.info__managment {
  display: flex;
  margin-top: 100px;
}

.info__managment-midle {
  display: flex;
  margin-top: 100px;
}

.info__managment:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
}

.info__managment-content {
  max-width: 486px;
}

.info__managment-top-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}

.info__managment-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 131px;
  color: #22343D;
}

.info__managment-img {
  margin-right: auto;
  margin-left: auto;
}

.info__managment-img:nth-child(2n-1) {
  margin-right: auto;
  margin-left: auto;
}

.info__managment-child-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.info__managment-end-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.info__customer-content {
  margin-top: -80px;
}

.info__customer {
  display: flex;
  align-items: center;
}

.info__customer-text {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.info__managment-text-top-end {
  margin-top: -100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.info__icon {
  transition: 0.3s ease;
}

.info__icon:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1100px) {
  .info__managment {
    display: block;
  }
  .info__managment-midle {
    display: block;
  }
  .info__managment-content {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .info__managment-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 550px) {
  .info__managment-img {
    max-width: 300px;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */