.table__content{
  margin-top: 100px;
}

.table__heading{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  margin-bottom: 10px;
}

.table__text{
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
  margin-top: 10px;
  margin-bottom: 30px;
}

.table__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


.table__item{
  width: 300px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  box-shadow: 0px 10px 10px 10px gray;
  border-radius: 8px;
  padding: 20px;
  background-image: url('../../img/dollor.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 190px 220px;
  transition: 0.4s ease;
}

.table__item:hover{
  box-shadow: 0px 0px 0px 0px black;
  border-radius: 8px;
}

.table__item-heading{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}

.table__item-money{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}

.table__item-money{
  margin-left: -30px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897A;
  background-image: url('../../img/per-month.png');
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 200px 60px;
}

.table__text-end{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #22343D;
}

.table__item-button{
  width: 139px; 
  padding: 18px 11px;
  left: calc(50% - 139px/2 - 0.82px);
  top: calc(50% - 44px/2 + 174px);
  background: #02897A;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  transition: 0.4s ease;
}

.table__item-button:hover{
  transform: scale(1.1);
}


@media only screen and (max-width: 410px) {
    .table__item{
      width: 200px;
      background-image: url('../../img/dollor.png');
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 150px 220px;
      transition: 0.4s ease;
    }

    .table__item-money{
      margin-left: -30px;
      margin-bottom: 40px;
      font-style: normal;
      font-weight: 700;
      font-size: 76px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #02897A;
      background-image: url('../../img/per-month.png');
      background-size: 90px;
      background-repeat: no-repeat;
      background-position: 150px 60px;
    }
}